.Al_haram_main_footer{
    padding: 30px 0px;
    background-color: #02A3C1;
}

.footer_links_main{
    text-transform: capitalize;
    color: 
    #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}


.footer_links_main:hover{
    color: #FFFFFF;
}

.foooter{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 4px;
    font-size: 12px;
    text-transform: capitalize;
}

.submitt{
    border: 1px solid #054652 !important;
    padding: 10px 15px !important;
    background-color:  #FFFFFF !important;
    color: #757575 !important;
    text-transform: uppercase;
}
.badaa{
    background-color: #6B6B6B;
    padding-left:15px !important ;
}
/* .input_logo{
    background: url(../Assets/message.png);
    background-repeat: no-repeat;
} */

.main_footer_btn{
    outline: none;
    border: none;
    padding: 10px 30px;
    color: #757575 !important;
}

.left_button{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px;
    background-color: #fff;
    color: #6B6B6B;

}

.input_imgss{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.main_footer_button{
    background-color: transparent !important;
}

@media only screen and (max-width:600px){
    .responsive_pro{
        text-align: left !important;
    }
    .submitt{
        margin-top: 10px !important;
    }

    .RESPONSIVE_PRO{
        flex-direction: column !important;
    }
}